body{
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#787b80;
}
.section{
    margin: 0 auto;
    padding: 5% 20% 5% 20%;
    width: 100%;
    box-sizing: border-box;

}
.wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 13%;
    overflow: hidden;
}
.box{
    width: 181px;
    float: left;
    overflow: hidden;
    margin: 0 2.22%;
    box-sizing: border-box;
}
.border{
    border-bottom: 2px solid #e9e9ea;
}
.title{
    font-weight: bold;
    font-size: 16px;
    color: #384048;
    text-transform: uppercase;
}
.box p{
    margin: 26px 0 28px 0;
}
.box a{
    color: #50c3af;
    text-decoration: none;
}
.layered-psd{
    height: auto;
    margin-bottom: 20%;
}
.compatibility{
    height: auto;
    margin-bottom: 20%;
}
.modules{
    height: auto;
    margin-bottom: 20%;
}
.box:nth-child(1){
    margin-left: 0;
}
.box:nth-child(3){
    margin-right: 0;
}